{{page-title "Ember Truncate"}}

<h2 id="title">Welcome to Ember</h2>

{{! template-lint-disable no-inline-styles }}
<p style="width: 362px; font: 16px sans-serif;">
  <TruncateMultiline @lines={{1}} @text="supercalifragilisticexpialidocious supercalifragilisticexpialidocious supercalifragilisticexpialidocious supercalifragilisticexpialidocious" />
</p>

{{! template-lint-disable no-inline-styles }}
<p style="width: 362px; font: 16px sans-serif;">
  <TruncateMultiline @lines={{2}} as |tm|>
    <tm.target>
      supercalifragilisticexpialidocious supercalifragilisticexpialidocious supercalifragilisticexpialidocious supercalifragilisticexpialidocious
    </tm.target>
    <tm.button>
      <span aria-hidden="true">{{if tm.isTruncated "⬇️" "⬆️"}}</span>
      <span class="truncate-multiline--visually-hidden">{{if tm.isTruncated "view more text" "view less text"}}</span>
    </tm.button>
  </TruncateMultiline>
</p>